
<div class="panel-heading panel-primary">

    <div class="panel-heading" style="min-height:50px">
        <div class=" col-md-12">
            <div class="col-md-5" style="font-size:20px">Shooter Detail</div>
            <div class="col-md-7 text-right" *ngIf="shooter && shooter.fullName">Logged on User: &nbsp; <span>{{shooter.fullName}}</span></div>
        </div>
    </div>

    <div class="row">&nbsp;</div>


    <div class="panel-primary">
        <div class="col-md-12">
            <div class="col-md-12">Shooter Detail</div>
        </div>

    </div>


    <div class="panel-footer">
        <button type="button" class="btn btn-link" (click)="onBack()">
            <i class="glyphicon glyphicon-chevron-left"></i>Back
        </button>
    </div>
    

   
    

</div>
